.App {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 250px) repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 20px;
  border: 1px solid black;
  padding: 25px;
}

.dumb {
  grid-area: 1 / 1 / 2 / 3;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
}

.messages_block {
  grid-area: 2 / 1 / 3 / 2;
}
.form_block {
  grid-area: 2 / 2 / 3 / 3;
}
.my_header {
  color: red;
  font-size: 41px;
}
.message {
  color: gray;
  font-style: italic;
}
